/* colors */
$main-text-color: #3D3D3D;
$main-background-color:#6D6D6D;

body {
    color: $main-text-color;
    background-color: $main-background-color;
}

p {
    color: $main-text-color;
}

h2 {
    background-color: $main-background-color;
}